@font-face {src:url("/fonts/cmunrm.ttf");}
@font-face {src:url("/fonts/cmunbx.ttf");}
@font-face {src:url("/fonts/cmunsx.ttf");}
@font-face {src:url("/fonts/DSDIGI.TTF");}



.label{

        -fx-font-family: "CMU Serif";
        -fx-font-weight: bold;
        -fx-font-size: 16px;

}
#picture{
        -fx-image: url("image.png");

}
#timerLabelSeconds{
        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 32px;
        -fx-text-fill: red;
}
#timerLabelSeconds1{
        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 32px;
        -fx-text-fill: red;
}

#timerLabelMiddle{
        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 20px;
        -fx-text-fill: red;
}

#timerLabelMinutes{
        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 32px;
        -fx-text-fill: red;
}
#timerLabelMinutes1{
        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 32px;
        -fx-text-fill: red;
}

#aktuellePhase{
        -fx-font-weight: normal;
        -fx-font-size: 13px;
}

#rueckmeldung{
        -fx-font-weight: normal;
        -fx-font-size: 13px;
}

.button{

        -fx-font-family: "CMU Sans Serif";
        -fx-font-weight: bold;

}


#start{}
#nextStep{}
#reworkTest{}


#writeHere{
        -fx-font-family: monospaced;
        -fx-text-fill: red;
}
#codeOverview{
        -fx-font-family: monospaced;
}
#testOverview{
        -fx-font-family: monospaced;
}