@font-face {src:url("/fonts/cmunrm.ttf");}
@font-face {src:url("/fonts/cmunbx.ttf");}
@font-face {src:url("/fonts/cmunsx.ttf");}
@font-face {src:url("/fonts/DSDIGI.TTF");}



.label{

    -fx-font-family: "CMU Serif";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #555555;

}

.button {
    -fx-text-fill: white;
    -fx-font-family: "CMU Sans Serif";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#CCCCCC, #666666);

}

.button:hover {
    -fx-background-color: linear-gradient(#666666, #CCCCCC);
}

#picture{
        -fx-image: url("image.png");

}

#timerLabelSeconds{
        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 32px;
        -fx-text-fill: red;
        -fx-background-color: black;
}


#timerLabelMiddle{
        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 20px;
        -fx-text-fill: red;
        -fx-background-color: black;
}

#timerLabelMinutes{
        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 32px;
        -fx-text-fill: red;
        -fx-background-color: black;
}

#aktuellePhase{
        -fx-font-weight: normal;
        -fx-font-size: 13px;
}

#rueckmeldung{
        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 22px;
        -fx-text-fill: red;
        -fx-background-color: black;

}

#start{}
#nextStep{}
#reworkTest{}
#babyLabel{

        -fx-font-family: "DS-Digital";
        -fx-font-weight: normal;
        -fx-font-size: 28px;
        -fx-text-fill: red;
        -fx-background-color: black;

}


#writeHere{
        -fx-font-family: monospaced;
        -fx-text-fill: red;
}
#codeOverview{
        -fx-font-family: monospaced;
}
#testOverview{
        -fx-font-family: monospaced;
}